{:ok true, :status :stopped, :coordinator/id "jit-queue:jit-all-open-v3", :durably-disabled? true, :quiescence-witness {:state/type :durable-quiescence-witness, :coordinator/id "jit-queue:jit-all-open-v3", :regulator/epoch 34, :regulator/ticks 82098, :tick-claim nil, :witnessed-at "2026-09-12T13:22:15.688359128Z"}, :scheduler {:ok true, :status :not-running, :regulator/id "jit-queue:jit-all-open-v3"}, :watchdog {:ok true, :status :not-running, :watchdog/id "semantic-progress:jit-queue:jit-all-open-v3"}}