{:repo-root "/home/joe/code/futon2"
 :subject-id "WM-04-observation-contract"
 :command ["clojure" "-M:test" "-n" "futon2.aif.observation-checks-test"]
 :author "codex-2"
 :artifact-dir "/home/joe/code/futon3c/holes/labs/wm-apparatus-tranche-two-2026-09-19/WM-04-observation-contract"
 :code-paths ["src/futon2/aif/observation_checks.clj"]
 :test-paths ["test/futon2/aif/observation_checks_test.clj"]}
