{:preparation/version 2
 :preparation/id "2f94074b1c692374e90d2f6ce071ecfa558dd9b44e9f4cb9897f4274b7d0f484"
 :campaign/id "apm-f21-one-off-v1"
 :frame/id "f21" :problem/id "a94A02"
 :manifest/id "b01d15b32f3afa3bb47806f5c52a1c32b3427a3bcb2c2ec02f01d6795c43ab3d"
 :ledger {:version 5
          :digest "0da5591cfc7967e37b658599003b16174392f8024f412c5899f4683da597521d"
          :phase :preflight :claim nil}
 :workspaces
 {:solver
  {:role :solver :repository/path "/home/joe/code/apm-lean"
   :frame/id "f21" :retention/state :provisioned
   :workspace/path "/home/joe/code/apm-frames/f21-one-off-v1/f21-a94A02-solver"
   :problem/blob "c240a05ebc152e22cf1c67e691fb4a27c697384f"
   :problem/id "a94A02"
   :base-revision "455d4d8c1db24a9244828c5c063d077e9414b986"
   :branch "exp/countdown-f21-a94A02-solver"
   :created-at "2026-08-22T00:00:00Z"
   :substrate/path "/home/joe/code/apm-lean/.lake"
   :workspace/id "d26a422ccce1eec3f6e058b5c6c8836a8ed577b8fa012558ff1400accf2bf04a"
   :problem/path "problems/a94A02/lean/Main.lean"}
  :student
  {:role :student :repository/path "/home/joe/code/apm-lean"
   :frame/id "f21" :retention/state :provisioned
   :workspace/path "/home/joe/code/apm-frames/f21-one-off-v1/f21-a94A02-student"
   :problem/blob "c240a05ebc152e22cf1c67e691fb4a27c697384f"
   :problem/id "a94A02"
   :base-revision "455d4d8c1db24a9244828c5c063d077e9414b986"
   :branch "exp/countdown-f21-a94A02-student"
   :created-at "2026-08-22T00:00:00Z"
   :substrate/path "/home/joe/code/apm-lean/.lake"
   :workspace/id "04eade8db4606027f27c9bb12de1626647f28ea801a5442434e5e696a6af274e"
   :problem/path "problems/a94A02/lean/Main.lean"}}
 :seats
 {:solver {:agent-id "f21-solver" :type :codex}
  :student {:agent-id "f21-student" :type :zai}
  :guide {:agent-id "f21-guide" :type :claude}
  :proctor {:agent-id "f21-proctor" :type :codex}
  :scribe {:agent-id "f21-scribe" :type :zai}
  :analyst {:agent-id "analyst-1" :type :claude}}
 :seat-policy {:fresh-sessions? true :invoke-ready? true
               :turn-timeout-ms 3600000 :zai-request-timeout-ms 300000
               :analyst-tenure-frames 2}}
