[{:ns "futon2.aif.run-validity-test", :url "file:/home/joe/code/futon2/test/futon2/aif/run_validity_test.clj"} {:ns "futon3c.test-registry.runner", :url "file:/home/joe/code/futon3c/test-registry-runner/src/futon3c/test_registry/runner.clj"} {:ns "resource:futon2/aif/run_validity_test.clj", :url "file:/home/joe/code/futon2/test/futon2/aif/run_validity_test.clj"} {:ns "resource:futon3c/test_registry/runner.clj", :url "file:/home/joe/code/futon3c/test-registry-runner/src/futon3c/test_registry/runner.clj"}]