{:frame/result :closed, :frame/id "f223", :learning/outcome :observed, :problem/outcome :solved, :solve/pin-status :pinned, :receipt/type :queued-problem-bank, :problem/id "m93J01", :source/terminal-receipt-id "dad9184676b300f59fa33dd6cdbd22c93c3d66e07b9972fd6fbcb321a1b1edce", :receipt/id "f7fb97353bc563a943e1a630af8418dbbd3ef9c43ada0f1d0c22e64c590826bd", :solve/pin-ref "refs/apm/banked-solves/f223/m93J01/f03ddfe9852373437d60f61e6b0eaaff4a6a667c"}
