[{:ns "futon3c.test-registry.runner", :url "file:/home/joe/code/futon3c/test-registry-runner/src/futon3c/test_registry/runner.clj"} {:ns "futon2.aif.observation-checks", :url "file:/home/joe/code/futon2/src/futon2/aif/observation_checks.clj"} {:ns "futon2.aif.observation-checks-test", :url "file:/home/joe/code/futon2/test/futon2/aif/observation_checks_test.clj"} {:ns "resource:futon2/aif/observation_checks.clj", :url "file:/home/joe/code/futon2/src/futon2/aif/observation_checks.clj"} {:ns "resource:futon2/aif/observation_checks_test.clj", :url "file:/home/joe/code/futon2/test/futon2/aif/observation_checks_test.clj"} {:ns "resource:futon3c/test_registry/runner.clj", :url "file:/home/joe/code/futon3c/test-registry-runner/src/futon3c/test_registry/runner.clj"}]